<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button Href="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>{{credentials.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md='8' class="ion-text-center">
        <ion-card>
          <ion-card-content>
            <!-- <img src="{{credentials.image}}" /> -->
            <p>{{ credentials.username }}</p>
            <p>{{ credentials.password }}</p>
          </ion-card-content>
        </ion-card>
        <ion-button [routerLink]="['/','tabs','tab3','editcredentials',credentials.id]">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

